
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Oswald:wght@300&display=swap');
* {
  margin: auto;
  padding: auto;
  border: auto;
}

 body {
  font-family: oswald, sans-serif;
  font-weight: 300%;
  color: red;
  background-color:black
}

 /* headings*/

 h1, h2, h3, h4, h5 {
  font-family:  serif, sans-serif;
  text-transform: uppercase;
  letter-spacing:  7px;
  color: white;
}

 #flogo {
  float: left;
  font-size: 600%;
  margin-left: 50px;
}

 #slogo {
  float: left;
  font-size: 300%;
  margin-left: 20px;
  margin-top: 20px;

}
 /*little content for header*/
p {
  font-family:  serif, sans-serif;
  text-transform: uppercase;
  letter-spacing:  4px;
  color: yellowgreen;
  margin-top: 50px;
}

#hdgirl {
  
  font-size: 140%;
  height: 10px;
  margin-left: 650px;
  margin-top: 1px;
}


 /* navi */

 #home {
  font-size: 110%;
  letter-spacing: 4px;
}

 #home li {
  float: right;
  list-style-type: none;
  margin-right:30px;
}

 #home a {
  text-decoration: none;
  color: inherit;
}

 .active {
    border-bottom: 1px solid yellowgreen;
}

 #home, a:hover {
         border-bottom: 1px solid #0000FF;
}

#little-girlinfo {
  font-family: serif, sans-serif;
  font-weight: 110%;
  color: yellowgreen;
  letter-spacing: 8px;
  margin-left: 50px;
  margin-top: 300px;

}


.contact-lgmd {
  font-family: serif, sans-serif;
  font-weight: 300%;
  color: yellowgreen;
  letter-spacing: 4px;
  margin-left: 5px;
  margin-top: 30px;

}

.about-lgmd {
  font-family: serif, sans-serif;
  font-weight: 300%;
  color: yellowgreen;
  letter-spacing: 4px;
  margin-left: 5px;
  margin-top: 40px;

}

    /*image for home page*/

 #little-girl {
 background: url('../images/litte\ girl.jpg') no-repeat center center;
 height: 450px;
 width: 100%;
 overflow: hidden;
 position: relative;

}

  /*image for contact page*/

 #little-girlinfo {
  background: url('../images/little\ girl2.jpg') no-repeat center center;
  height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative;

 }

      /*image for about page*/
 
#little-girlabt {
  background: url('../images/little\ girlabt.jpg') no-repeat center center;
  height: 700px;
  width: 100%;
  overflow: hidden;
  position: relative;
 
}


 

/*
 .social-networks {
  text-align: center;
 }

 .social-networks > li {
  display: inline;
}
*/


}
 /* 
 float: left;
 font-size: 300%;
 margin-left: 20px;
 margin-top: 20px;
 height: 60px;
 width: 60%;

 float: center;
 color: white;
 padding: 0;
 */
