body {
  min-height : 100%;
  font-family : serif, sans-serif;
  color : red;
  background-color : black;
  }
  #home {
  height : 50px;
  }
  h1, h2, h3, h7 {
  font-family : serif, sans-serif;
  text-transform : none;
  letter-spacing : 7px;
  color : white;
  }
  #Slogo {
  float : left;
  font-size : 300%;
  margin-left : 50px;
  margin-top : 30px;
  }
  p {
  font-family : serif, sans-serif;
  text-transform : none;
  letter-spacing : 4px;
  color : yellowgreen;
  margin-top : 70px;
  margin-left : 15px;
  }
  #hdgirl {
  font-size : 140%;
  height : 10px;
  margin-left : 60px;
  margin-top : 1px;
  }
  #home {
  font-size : 110%;
  letter-spacing : 4px;
  }
  #home li {
  float : right;
  list-style-type : none;
  margin-right : 30px;
  }
  #home a {
  text-decoration : none;
  color : inherit;
  }
  .active {
  border-bottom : 1px solid yellowgreen;
  }
  #home, a:hover {
  border-bottom : yellowgreen;
  }
  #little-girlinfo {
  font-family : serif, sans-serif;
  color : yellowgreen;
  letter-spacing : 8px;
  margin-left : 50px;
  margin-top : 300px;
  }
  #name {
  text-align : left;
  margin : 1px;
  font-size : 100%;
  }
  .contact-lgmd {
  font-family : serif, sans-serif;
  color : yellowgreen;
  letter-spacing : 4px;
  margin-left : 5px;
  margin-top : 30px;
  }
  #little-girlabt {
  height : 600px;
  }
  #left-main {
  padding-top : 30px;
  width : 33%;
  float : left;
  }
  #muscular {
  text-align : center;
  font-family : serif, sans-serif;
  text-transform : uppercase;
  letter-spacing : 4px;
  margin-top : 50px;
  margin-left : 20px;
  }
  #girdle {
  text-align : center;
  font-family : serif, sans-serif;
  text-transform : uppercase;
  letter-spacing : 4px;
  margin-top : 1px;
  margin-left : 20px;
  }
  #about-lgmd {
  font-family : serif, sans-serif;
  text-transform : lowercase;
  letter-spacing : 4px;
  color : yellowgreen;
  margin-top : 10%;
  margin-left : 500px;
  }
  #little-girl {
  background : url("../images/litte\ girl.jpg") center center no-repeat;
  height : 400px;
  width : 100%;
  overflow : hidden;
  position : relative;
  }
  #little-girlabt {
  background : url("../images/little\ girlabt.jpg") center center no-repeat;
  height : 400px;
  width : 100%;
  overflow : hidden;
  position : relative;
  }
  footer {
  height : 400px;
  margin-left : 10px;
  }
  hr {
  border-top : 1px solid #3a3a3a;
  width : 100%;
  margin : 5px 0;
  margin-top : 100px;
  }
  .media {
  text-align : left;
  margin-top : 1%;
  }
  .media > li {
  display : inline;
  }
  .media i {
  font-size : 180%;
  margin : 2px;
  padding : 1px;
  color : yellowgreen;
  margin-left : 50px;
  margin-top : 1%;
  }
  .media i:hover {
  color : yellowgreen;
  }
  #seminer {
  height : 200%;
  }
  .now {
  text-align : center;
  height : 4%;
  }
  #seminer div {
  color : #fafafa;
  background-color : rgb(0, 0, 0, 0.6);
  width : 20%;
  height : 250px;
  float : left;
  padding : 30px 0 0 10px;
  text-align : left;
  border : #3a3a3a solid 2px;
  box-sizing : border-box;
  margin-top : 450px;
  }
  #seminer h2, h3 {
  color : yellow;
  }
  body {
  margin : 0;
  padding : 0;
  font-size : 16px;
  font-family : serif, sans-serif;
  }
  #login-box {
  margin : 5%;
  width : 600px;
  height : 1px;
  }
  .semin {
  position : absolute;
  top : 200px;
  box-sizing : border-box;
  padding : 40px;
  width : 300px;
  height : 400px;
  }
  h1 {
  margin : 0 0 20px 0;
  font-weight : 300;
  font-size : 28px;
  }
  input[type="text"], input[type="password"] {
  display : block;
  box-sizing : border-box;
  margin-bottom : 20px;
  padding : 4px;
  width : 220px;
  height : 32px;
  }
  input[type="submit"] {
  margin-top : 28px;
  width : 120px;
  height : 32px;
  background : #16a085;
  border : none;
  border-radius : 2px;
  color : #FFF;
  font-family : serif, sans-serif;
  font-weight : 500;
  text-transform : uppercase;
  }
  input[type="submit"]:hover, input[type="submit"]:focus {
  opacity : 0.8;
  box-shadow : 0 2px 4px rgb(0, 0, 0, 0.4);
  transition : 0.1s ease;
  }
  input[type="submit"]:active {
  opacity : 1;
  box-shadow : 0 1px 2px rgb(0, 0, 0, 0.4);
  transition : 0.1s ease;
  }

  /*media queries*/

  @media screen (max-width: 1200px) {
      #home {
      width: 65%;
      height: 1200px;
      width: 100%;
      clear: both;
      height: 150px;
      padding: 0;
    }
     #Slogo {
      width: 90%;
      height: 1200px;
      margin: 0 auto;
    }  

    #little-girl {
      width: 90%;
      height: 1200px;
      margin: 0 auto;
    }

    #hdgirl {
      width: 90%;
      height: 1200px;
      margin: 0 auto;


    hr {
      display: none;
    }  

    #seminer > div {
      width: 100%;
      clear: both;
      height: 150px;
      padding: 0;
    }

    #girdle{
      width: 100%;
      clear: both;
      height: 150px;
      padding: 0;
    }
    hr {
      display: none;
    }  
  
  footer {
    text-align: center;
    padding: 0 20px;
}


/* For small screen sizes 800px and down */
@media screen and (max-width: 800px) {
#Slogo, #home {
  width: 90%;
  height: 1200px;
  margin: 0 auto;
}



#login-box {
  width: 90%;
  height: 1200px;
  margin: 0 auto;

}

#seminer > div {
  width: 100%;
  clear: both;
  height: 150px;
  padding: 0;
}

}